    @font-face {
        font-family: IRANSans;
        src: url(IRAN\ Sans.ttf);
    }
    
    * {
        font-family: IRANSans;
        direction: rtl;
        transition: 0.5s;
    }
    
    body {
        overflow: hidden;
        font-family: IRANSans;
        direction: rtl;
        transition: 0.5s;
        background-color: black;
    }
    
    .fixed-bottom img {
        width: 30px;
        filter: invert(100%);
        transform: rotate(-45deg);
    }
    
    #logo {
        filter: invert(100%);
        width: 40px;
    }
    
    #section01,#section02,#section03,#section04 {
        background-position: center;
        padding-top: 66px;
    }

    #section05{
        padding-top: 66px;
    }

    @media (min-width:768px){
        .alert {
            animation: alert;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: linear;
        }
    }

    @media (max-width:769px){
        .only-md{
            display: none !important;
        }
        .only-lg{
            display: unset !important;
        }
        #section05 .only-lg img{
            max-height: 425px;
        }
    }

    
    @keyframes alert {
        0% {
            transform: translateY(0%);
        }
        100% {
            transform: translateY(100%);
        }
    }
    
    .carousel-control-next {
        margin: 0 -38px 0 0;
    }
    
    .carousel-control-next img {
        filter: invert(100%);
        width: 20px;
    }
    
    .carousel-control-prev {
        margin: 0 0 0 -38px;
    }
    
    .carousel-control-prev img {
        filter: invert(100%);
        width: 20px;
        transform: scaleX(-1);
    }
    
    .carousel-indicators {
        margin-bottom: -23px;
    }
    
    .cardImg {
        object-fit: none;
        height: 200px;
        animation: object-position;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    @keyframes object-position {
        0% {
            object-position: 0 0;
        }
        100% {
            object-position: 100% 0;
        }
    }

    .card-columns {
        column-count: 5 !important;
      }